{% extends "base.html" %}
{% load static %}

{%block content%}

    <div class="card-container">
        {% if products %}
            {% for product in products %}
                <div class="card">
                    <img src="{{product.Image.url}}">
                    <div class="card-content">
                        <h3>{{product.name}}</h3>
                        <h4>₹{{product.price}}</h4>
                        <p>{{product.content | truncatewords:7}}</p>
                        <a href="{% url 'Shop:detail' product_id=product.id %}" class="btn">Read More</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'Shop:add_to_cart' product_id=product.id %}" class="btn">Add to Cart</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <h1>Oops...!No Products Available.</h1>
        {% endif %}
    </div>

{%endblock%}